aiodns==1.1.1
aiofiles==0.3.2
aiohttp==3.1.1
async-timeout==2.0.1
attrs==17.4.0
cchardet==2.1.1
certifi==2018.1.18
chardet==3.0.4
discord==0.0.2
discord.py==0.16.12
idna==2.6
idna-ssl
multidict==4.1.0
peewee==3.3.4
pycares==2.3.0
pydash==4.5.0
python-dateutil==2.7.2
python-magic==0.4.15
six==1.11.0
websockets==3.4
wincertstore==0.2
yarl==1.1.1
